alpaca==1.0.0
backtesting==0.6.4
beautifulsoup4==4.13.4
httpx==0.28.1
matplotlib==3.10.3
mplfinance==0.12.10b0
numpy==2.3.1
packaging==25.0
pandas==2.3.0
pandas_ta==0.4.25b0
Requests==2.32.4
rich==14.0.0
schwab_py==1.5.0
scipy==1.16.0
setuptools==75.8.0
tabulate==0.9.0
yfinance==0.2.63
certifi>2025.0.0
